.projects-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 25px;
    gap:25px;
}
@media (max-width: 900px) {
    .project {
        padding-left: 25px;
    }
}