.contact{
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    gap:15px;
    margin-right: 20px;
    height: max-content;
}
@media (max-width: 900px) {
    .contact {
        padding-left: 25px;
    }
}