.programming-skill{
    width: 45%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap:20px;
}
.skill-container{
    display: flex;
    justify-content: space-between;
    gap:30px;
    flex-wrap: wrap;
    width:100%;
}
.skill-label{
    display: flex;
    justify-content: space-between;
    width:100%;
}
.skill-progress{
    height: 10px;
    border-radius: 5px;
    width:100%;
    background-color:rgb(39, 37, 37);
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.skill-progress.active {
    opacity: 1;
    transform: translateX(0);
}
.progress-bar {
    height: 10px;
    border-radius: 5px;
    background-color: black;
    height: 10px;
    transition: width 0.9s ease-out;
}
@media (max-width: 780px) {
    .programming-skill {
            width: 100%;
    }
}