.container {
  display: flex;
}
.sidebar {
  width: 260px;
  height: 100%;
  background-color: #333;
  color: white;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: max-content;
}
.menu{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 70px;
}
.link{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap:15px;
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}
.content {
  width: 100%;
  height: 100%;
  margin-left: 270px;
  padding: 20px;
}
@media (max-width: 900px) {
  .content {
    margin-left: 0;
  }
  .sidebar{
    display: none;
  }
}