@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  display: none;
}
body {
  font-size: 16px;
  color: white;
  background-color: black;
  min-height: 90vh;
}
h2 {
  font-size: 2rem;
  font-weight: bold;
}
h3{
  font-size: 1.7rem;
  font-weight: bold;
}
h4{
  font-size: 1.5rem;
}
h5 {
  font-size: 1.3rem;
  font-weight: bold;
}
h6{
  font-size: 1rem;
  font-weight: bold;
}
p {
  color: #bbb;
}