.home{
    display: flex;
    height:90vh;
    width:100%;
    justify-content:center;
    align-items:center;
    gap:30px;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width:50%;
    gap:10px;
}
.media{
    display: flex;
    justify-content: space-between;
    gap:35px;
}
@media (max-width: 900px) {
    .home{
        margin: 25px 0;
        height: 100%;
        flex-direction: column;
        gap:25px;
        min-height: max-content;
        overflow-x: hidden;
    }
    .info {
        justify-content:center;
        align-items: center;
        width:100%;
        gap:10px;
    }
    .more{
        text-align: center;
        width:60%;
    }
}